.my-nav-link{
    font-size: 1.25rem;  
}

.prodlist-img-a{
    height:200px;
    display:block;
    overflow:hidden
}

.prodlist-img{
    width: auto;
}

.card-title-prod {
    font-size: 1rem;
    text-decoration: none;
}

.card-title-cat {
    font-size: 1rem;  
    text-decoration: none;
}


.imgrpl {
    max-width: 100%;
}
