RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)$ ./index.php?route_url=$1 [QSA]

ErrorDocument 403 ./index.php?route_url=intranet/404/
ErrorDocument 404 ./index.php?route_url=intranet/404/