body {
    background-color:#000;
    color:#ccc;
}

.container {

}

.content {
    color:#ccc;
}

.content a {
    color:#36c;
}

input, textarea, select {
    background-color:#333;
    border:1px Solid #ccc;
    color:#ccc;
}

.submit {
    color:#333;
    background-color:#cdebff;
}

.submit_vid {
    color:blue;
    background-color:#66ff66;
}

.bigsubmit {
    color:#333;
    background-color:#cdebff;
}

.bigsubmit_vid {
    color:blue;
    background-color:#66ff66;
}

table.base th, table.base th.line {
    background-color:#2b3441;
    border:1px Solid #ccc;
}

table.base th a {
    color:#ccc;
}

table.base td {
    border-top:1px Solid #ccc;
    border-bottom:1px Solid #ccc;
}

table.base td a {
    color:#ccc;
}

div.dojichart {
    background-color:#2b3441;
}

