form {
margin:0;
padding:0;
}

input, textarea, select {
background-color:#fff;
border:1px Solid #ccc;
height:1,5em;
}

select {
height:1,5em;
}

input.radio {
    border:0 Solid ;
}

.submit {
font-weight:bold;
text-align:center;
color:#333;
background-color:#cdebff;
}

.submit_vid {
font-weight:bold;
text-align:center;
color:blue;
background-color:#66ff66;
}

.bigsubmit {
font-size:20px;
font-weight:normal;
text-align:center;
color:#333;
background-color:#cdebff;
}

.bigsubmit_vid {
font-size:20px;
font-weight:normal;
text-align:center;
color:blue;
background-color:#66ff66;
}

.container > ol, ul {
    margin:0;
    padding:0 0 0 2em;
}
.container > li {
    margin:3px;
    padding:0;
}

img {
border:0;
margin:0;
padding:0;
}

img.content-img {
border:0;
margin:6px;
padding:0;
}

table {
font-size:14px;
}

table.base {
width:99%;
border-collapse: collapse;
}

table.base th, table.base th.line {
    font-weight:bold;
    background-color:#cdebff;
    border:1px Solid #ccc;
    vertical-align: top;
    text-align: center;
}
table.base th.line {
    text-align: left;
}
table.base th a {
font-weight:normal;
color:#333;
text-decoration:none;
}
table.base th a:active, table.base th a:hover {
text-decoration:underline;
}

table.base td {
border-top:1px Solid #ccc;
border-bottom:1px Solid #ccc;
padding:3px;
vertical-align: top;
}
table.base td a {
color:#333;
text-decoration:none;
}
table.base td a:active, table.base td a:hover{
text-decoration:underline;
}

div.clear {
margin:0;
padding:0;
clear: both;
}

div.fltrbl {
    float:left;
    padding:3px;
}
