/*Slider*/
#wrapper {width:704px; margin:0px auto}
#slidecontainer {position:relative; background:#fff; padding:0px; height:166px; border:0px;}
.sliderbutton {float:left; width:25px; height:235px; cursor:pointer}
#slideleft {background:url(images/icons.gif) -50px -265px no-repeat;width:0px;height:0px;}
#slideleft:hover {background-position:-0 -265px}
#slideright {background:url(images/icons.gif) 0 90px no-repeat;width:0px;height:0px;}
#slideright:hover {background-position:-50px 90px}
#slider {float:left; position:relative; overflow:auto; width:704px; height:166px}
#slider ul {position:absolute; list-style:none; top:0; left:0;padding:0;margin:0;}
#slider li {float:left; width:704px; height:166px;padding:0;margin:0;}
.pagination {position:absolute; top:10px; right:10px; list-style:none; height:25px}
.pagination li {float:left; cursor:pointer; height:8px; width:8px; background:#ccc; margin:0 4px 0 0; border:1px solid #fff}
.pagination li:hover, li.current {background:#fff}